h1{
    text-align: center;
}
.container-3 {
    max-width: 100px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
input,
select {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    flex: 2;
    padding: 8px 15px;
    background-color: #06BBCC;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #17d3e4;
}
.button{
    text-align: center;
    margin-top: 20px;
}
.form-wrap{
    display: flexbox;
    margin: 0;
    padding: 10px;
}
.form-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-wrap label {
    margin-right: 10px;
}

.form-wrap input{
    flex: 2;
}
input[type="text"]:hover,[type="email"]:hover,
select:hover {
    border-color: #06BBCC;
    background-color: #acedf3e0;
}