<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>        <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <!-- Spinner End -->
    
    <nav class="nav-bar">
        <ul>
            <div class="logo">
                <a href="{% url 'Home' %}" class="logo-link">
                    <h2 class="logo-text m-0 text-primary">Competitive Cracker</h2>
                </a>
            </div>
            <!-- <div class="left">
                <li><a href="{% url 'all_courses' %}"><i class="fa fa-arrow-left"></i> Back</a></li>
            </div> -->
            <div class="right">
                <li><a href="{% url 'MyProfile' %}" class="nav-item nav-link"><i class="fas fa-user"></i> {{ request.user.Customer.First_Name }} {{ request.user.Customer.Last_Name }}</a></li>
                <li><a href="{% url 'cart' %}" class="nav-item nav-link"><i class="fas fa-shopping-cart"></i> Cart</a></li>
                <li><a href="{% url 'my_orders' %}" class="nav-item nav-link"><i class="fas fa-box"></i> My Orders</a></li>
            </div>
        </ul>
    </nav>

    
    <!-- <div class="sidebar">
        <a href="{% url 'HomePage' %}" class="logo-link">
            <h2 class="logo-text m-0 text-primary">Competitive Cracker</h2>
        </a>
        <ul>
            <li><a href="#study">Study</a></li>
            <li><a href="#batches">Batches</a></li>
            <li><a href="#store">Store</a></li>
            <li><a href="#see-more">See More</a></li>
        </ul>
    </div> -->
    <div class="container">
        {% for item in cart_items %}
        <div class="cart-items">
            <div class="course-img">
                <img src="{{ item.course.image.url }}">
            </div>
            <div class="texts">
                <p>{{ item.course.course_name }}</p>
                <p>{{ item.price }}</p>
                <div class="quantity-controls">
                    <button class="minus-btn">-</button>
                    <span class="quantity">{{ item.qty }}</span>
                    <button class="plus-btn">+</button>
                </div>
                <a href="{% url 'remove_from_cart' cart_item_id=item.id %}" class="btn btn-danger remove-btn"><i class="fas fa-trash-alt"></i> Remove</a>
            </div>
        </div>
        {% endfor %}
        <div class="order-details">
        <div class="vertical">
            <div class="apply-coupon">
                <input type="text" placeholder="Enter coupon code">
                <button>Apply Coupon</button>
            </div>
            <div class="payment-summary">
                <div class="bordered-box">
                    <h3>Payment Summary</h3>
                    <div class="details">
                        <div class="row">
                            <div class="name">Products Total({{ item.qty }}):</div>
                            <div class="value">₹ {{ item.price }}</div>
                        </div>
                        <div class="row">
                            <div class="name">Discount:</div>
                            <div class="value">-₹ 0</div>
                        </div>
                        <div class="row">
                            <div class="name">Delivery Charge:</div>
                            <div class="value">-₹ 0</div>
                        </div>
                        <div class="row">
                            <div class="name">Coupon Discount:</div>
                            <div class="value">-₹ 0</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="name" style="font-weight: bold;">Total Amount:</div>
                            <div class="value" style="font-weight: bold;">₹ {{ total_amount }}</div>                                             
                        </div>
                        <div class="buy">
                            <a href="{% url 'add_to_order' %}"><h5>Proceed to Buy</h5></a>
                            <!-- <a href="{% url 'buy' course_id=1 %}"><h5>Proceed to Buy</h5></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    </div>

             <!-- javascript code here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>         
    <script>
        $(document).ready(function() {
            $('.minus-btn').on('click', function() {
                var quantity = parseInt($(this).siblings('.quantity').text());
                if (quantity > 1) {
                    $(this).siblings('.quantity').text(quantity - 1);
                }
            });

            $('.plus-btn').on('click', function() {
                var quantity = parseInt($(this).siblings('.quantity').text());
                $(this).siblings('.quantity').text(quantity + 1);
            });
        });
    </script>
</body>
</html>
