{% extends "admin.html" %}
{% block content %}
<style>
    table{
        text-align:center;
    }
</style>
<body>
    <table class='table table-dark table-hover'>
        <tr>
            <th>Sl.No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>State</th>
            <th>District</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Photo</th>
            <th>Action</th>
            
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.First_Name}}</td>
            <td>{{i.Last_Name}}</td>
            <td>{{i.State}}</td>
            <td>{{i.District}}</td>
            <td>{{i.Email}}</td>
            <td>{{i.Phone_Number}}</td>
            <td><img src='{{i.image.url}}' height=100px ></td>
            <td><a href="{% url 'delete_students' i.user_id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

{% endblock %}

